{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

<div class="container text-center">
	<div class="row">
		<div class="col">
<br>
<br>
{% if not deck_id %}
	<a href='/new_game'>
		<button class='btn btn-primary btn-lg'>
			Новая игра
		</button>
{% endif %}
		</div>
	</div>
</div>

<div class="container text-center">
	<div class="row">
		<div class="col">

{% if deck_id %}
Колода: {{deck_id}}
<br>
Осталось карт: {{remaining}}
<br>
<a href='/get_card'>
	<button class='btn btn-primary btn-lg'>
		Вытянуть карту
	</button>
<br>
<a href='/game_result'>
	<button class='btn btn-danger btn-lg'>
		Результат игры
	</button>
</a>
	</div>
	<div class="row">
		<div class="col">
Игрок:
<br>
{% for card in hand %}
	<img src={{card['image']}} class="w-25 p-3">
{% endfor %}
<br>
Всего очков игрока: {{sumhand}}
<br>
	</div>
		<div class="col">
Дилер:
<br>
{% for card in dealer %}
	<img src={{card['image']}} class="w-25 p-3">
{% endfor %}
<br>
Всего очков дилера: {{sumdealer}}
<br>
	</div>
</div>
{% endif %}

{% endblock %}