{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<body class=data-bs-theme="dark">
{% if not deck %}
	<a href='/new_game'>
		<button class='btn btn-primary'>
			Новая игра
		</button>
{% endif %}

<div class="container text-center">
	<div class="row">
		<div class="col">
	{% if deck %}
Колода: {{deck}}
<br>
Осталось карт: {{remaining}}
<br>
<a href='/get_card/{{deck}}'>
	<button class='btn btn-primary'>
		Вытянуть карту
	</button>
<br>
<a href='/game_result/{{result}}'>
	<button class='btn btn-danger'>
		Результат игры
	</button>
</a>
<br>
Результат игры: {{result}}
	</div>
	<div class="row">
		<div class="col">
Игрок:
<br>
{% for card in hand %}
	<img src={{card['image']}} class="w-25 p-3">
{% endfor %}
<br>
Всего очков игрока: {{sumhand}}
<br>
	</div>
		<div class="col">
Дилер:
<br>
{% for card in dealer %}
	<img src={{card['image']}} class="w-25 p-3">
{% endfor %}
<br>
Всего очков дилера: {{sumdealer}}
<br>
	</div>
</div>
{% endif %}
</body>
{% endblock %}