{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}

{% if not deck %}
	<a href='/new_game'>
		<button class='btn btn-primary'>
			Новая игра
		</button>
{% endif %}

{% if deck %}
Колода: {{deck}}
<br>
Осталось карт: {{remaining}}
<br>
<a href='/get_card/{{deck}}'>
	<button class='btn btn-primary'>
		Вытянуть карту
	</button>
<br>
{% endif %}
<br>

<br>
Игрок:
<br>
{% for card in hand %}
	<img src={{card['image']}}>
{% endfor %}
<br>

{% if deck %}
Всего очков игрока: {{sumhand}}
<br>
<a href='/dealer_card/{{deck}}'>
	<button class='btn btn-danger'>
		Завершить игру
	</button>
</a>
{% endif %}
<br>

<br>
Дилер:
<br>
{% for card in dealer %}
	<img src={{card['image']}}>
{% endfor %}
<br>
Всего очков дилера: {{sumdealer}}
<br>
{% endblock %}